<ul>
  <h3>記事を編集</h3>

  <ul>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="" role="main">
          <h3>記事一覧</h3>
          <table id="result" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>更新日時</th>
                <th>コマンド</th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |article| %>
              <tr>
                <th scope="row"><a href="/article/<%= article.id %>"><%= article.id %></a></th>
                <td><%= h article.title %></td>
                <td><%= h article.updated_at %></td>
                <td>
                  <span class="edit-btn glyphicon glyphicon-edit" value="<%= article.id %>" aria-hidden="true"></span>
                  <span class="delete-btn glyphicon glyphicon-trash" value="<%= article.id %>" aria-hidden="true"></span>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ul>
</ul>

<script>
$(document).ready(function() {
  $('.delete-btn').click(function() {
    aid = $(this).attr("value");
    noty({
    	text: '削除しますか？',
      timeout : false,
      closable: false,
      type: 'confirm',
      layout: 'center',
      closeOnSelfClick: false,
    	buttons: [
    		{addClass: 'btn btn-primary', text: 'Ok', onClick: function($noty) {
            $.post('/admin/delete', {
              id: aid
            }, function() {
              location.reload();
            });
    				$noty.close();
    			}
    		},
    		{addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
    				$noty.close();
    			}
    		}
    	]
    });
  });
});
</script>
