<ul>
  <div class="container bs-docs-container">
    <div class="row">
      <div class="" role="main">
        <h3><%= h @article.title %></h3>
        <p><%= h @article.update_member %></p>
        <p><%= @article.body %></p>
        <p><%= h @article.tag %></p>
        <p><%= h @article.thumbnail %></p>
      </div>
    </div>
  </div>
</ul>
