<ul>
  <div class="container bs-docs-container">
    <div class="row">
      <div class="" role="main">
        <h1><%= h @article.title %></h1>
        <p>更新:<%= h @article.update_member %> / 更新日時:<%= h @article.updated_at %> / タグ:<%= h @article.tag %></p>
        <!--p><%= h @article.thumbnail %></p-->
        <hr>
        <p><%= @article.body %></p>
      </div>
    </div>
  </div>
</ul>
