<ul>
  <div class="container bs-docs-container">
    <div class="" role="main">
      <h3>検索結果</h3>
      <p>「<%= h @q %>」で検索 / <%= h @resultCount %>件</p>
      <% if @resultCount == 0 %>
        <% if @q == "" %>
          <p>値を設定してください</p>
        <% else %>
          <p><%= @error %></p>
          <% if @resultCount == 0 && @error == "" %>
            <p>ヒットしませんでした</p>
          <% end %>
        <% end %>
      <% else %>
      <% end %>
      <div class="row">
        <% if @resultCount == 0 %>
        <% else %>
          <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for num in 1..((@resultCount/6.to_f).ceil) do %>
                <% if num == @page %>
                  <li><a><%= num %></a></li>
                <% else %>
                  <li><a href="/search?<%= @qhref %>&page=<%= num %>"><%= num %></a></li>
                <% end %>
              <% end %>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <% @articles.each do |article| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/uploads/thumbnail/<%= h article["thumbnail"] %>" alt="<%= h article["thumbnail"] %>">
                <div class="caption">
                  <a href="/article/<%= article["id"] %>">
                  <h3><%= h article["title"] %></h3>
                  </a>
                  <p><%= h Sanitize.clean(article["body"]) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</ul>
