<ul>
  <div class="container bs-docs-container">
    <div class="" role="main">
      <h3>検索結果</h3>
      <p>「<%= h @q %> 」で検索</p>
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="/uploads/thumbnail/<%= h article.thumbnail %>" alt="<%= h article.thumbnail %>">
              <div class="caption">
                <a href="/article/<%= article.id %>">
                <h3><%= h article.title %></h3>
                </a>
                <p><%= h Sanitize.clean(article.body) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</ul>
