<ul>
  <div class="container bs-docs-container">
    <div class="" role="main">
      <h3>検索結果</h3>
      <p>「<%= h @q %>」で検索 / <%= h @articles.length %>件</p>
      <% if @articles.length == 0 %>
        <% if @q == "" %>
          <p>値を設定してください</p>
        <% else %>
          <p><%= @error %></p>
          <% if @articles.length == 0 && @error == "" %>
            <p>ヒットしませんでした</p>
          <% end %>
        <% end %>
      <% else %>
      <% end %>
      <div class="row">
        <% if @articles.length == 0 %>
        <% else %>
          <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for num in 1..((@articles.length/6.to_f).ceil) do %>
                <% if num == @page %>
                  <li><a><%= num %></a></li>
                <% else %>
                  <li><a href="/search?q=<%= @q %>&page=<%= num %>"><%= num %></a></li>
                <% end %>
              <% end %>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <% for i in (@page-1)*6..(@page*6)-1 do %>
            <% if i < @articles.length %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/uploads/thumbnail/<%= h @articles[i]["thumbnail"] %>" alt="<%= h @articles[i]["thumbnail"] %>">
                <div class="caption">
                  <a href="/article/<%= @articles[i]["id"] %>">
                  <h3><%= h @articles[i]["title"] %></h3>
                  </a>
                  <p><%= h Sanitize.clean(@articles[i]["body"]) %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</ul>
